:root {
  /* Variables para personalizar la ruleta y sus elementos */
  --ruleta-width: 720px;
  --ruleta-height: 695px;
  --ruleta-left: 15%;
  --flecha-top: 20px;
  --flecha-left: 30%;
  --flecha-width: 100px;
  --flecha-height: 100px; /* Variable para editar el alto de la flecha */
  --resultado-top: 50%;
  --resultado-font-size: 48px;
  --boton-width: 30%;
  --boton-left: 5%; /* Ajustado para la posición lateral del botón */
  --boton-border-radius: 5px; /* Ajustado para las esquinas del botón */
}

#ruleta {
  position: relative;
  width: var(--ruleta-width);
  height: var(--ruleta-height);
  left: var(--ruleta-left);
}

#imgRuleta {
  width: 100%;
}

#imgFlecha {
  position: absolute;
  top: var(--flecha-top);
  left: var(--flecha-left);
  transform: translateX(-50%);
  width: var(--flecha-width);
  height: var(--flecha-height); /* Aplicando la variable para el alto de la flecha */
}

#resultado {
  position: absolute;
  top: var(--resultado-top);
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  font-size: var(--resultado-font-size);
  color: red;
  font-weight: bold;
  text-shadow: 2px 2px 2px white;
  z-index: 1000;
  font-family: 'Alfa Slab One', cursive;
  animation: aparecer 1s ease-in-out forwards;
}

@keyframes aparecer {
  from { opacity: 0; transform: translate(-50%, -50%) scale(0.5); }
  to { opacity: 1; transform: translate(-50%, -50%) scale(1); }
}

#girar {
  display: block;
  width: var(--boton-width);
  margin: 20px auto;
  padding: 10px;
  font-size: 24px;
  color: white;
  background-image: linear-gradient(to right, blue, purple);
  border: none;
  border-radius: var(--boton-border-radius);
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  transition: background-color 0.3s;
  left: var(--boton-left);
  position: relative;
}

#girar:hover {
  background-image: linear-gradient(to left, blue, purple);
}
