/* Estilos personalizables */
.ruleta {
    width: 300px; /* Ancho de la ruleta */
    height: 300px; /* Alto de la ruleta */
    background-color: blue; /* Color de fondo */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Sombra */
}

/* Estilos para el botón */
#girarBtn {
    font-size: 25px;
    background-color: #0074D9;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
}
